<div class="container" *ngIf="currentBlog? true: false">
    <div>
        <button type="button" class="btn btn-outline-dark" (click)="onEdit()">Edit</button>
    </div>
    <div class="top-header d-flex justify-content-center m-2">
        <h1>{{ currentBlog?.title }}</h1>
    </div>
    <div class="div d-flex justify-content-end m-2">
        <span> {{ currentBlog?.date | date }} </span>
    </div>
    <div class="image-container d-flex justify-content-center mb-5">
        <img [src]="currentBlog?.imgUrl" alt="blog-cover">
    </div>
    <div class="desc-container">
        <p>{{ currentBlog?.description}} </p>
    </div>
</div>